/* GLOBAL */
:root {
    --accent-color: #1c9ade;
    --accent-dark-color: rgb(30, 72, 111);
    --accent-contrast-color: rgb(246, 180, 101);
}

* {
    box-sizing: border-box;
    margin: 0;
}

.errMsg {
    color: rgb(106, 0, 0);
}

html {
    font-family: 'Noto Sans', system-ui, sans-serif;
}

/* LOGIN PAGE */
body.login-page {
    background-color: var(--accent-color);
    background-image: linear-gradient(315deg, var(--accent-color) 0%, #80D0C7 100%);
    display: flex;
    align-items: center;
    height: 100svh;
    font-weight: 400;

    section {
        margin: auto;
        padding: 2em;
        background-color: #fcfcfc;
        border-radius: 0.6em;
        text-align: center;
    }

    h1 {
        padding-bottom: .75em;
        color: var(--accent-dark-color);
        font-family: 'Courgette', cursive;
        font-size: xx-large;
    }

    h4 {
        padding-bottom: 1.75em;
        color: var(--accent-dark-color);
    }

    form {
        display: flex;
        flex-direction: column;
        text-align: start;

        p {
            color: darkred;
            font-weight: 500;
        }
    }

    label {
        color: var(--accent-dark-color);
        padding-bottom: .25em;
    }

    input {
        width: 100%;
        min-width: 36ch;
        margin-bottom: 1.25em;
        padding: .75em;
        border: 1px solid var(--accent-dark-color);
        border-radius: 5px;
    }

    button {
        width: 100%;
        margin-block: 0.25em;
        padding: .75em;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.469);
        background-color: rgb(240, 238, 238);
    }

    button:hover {
        background-color: rgb(221, 221, 221);
        font-weight: 600;
    }

    button.accent {
        background-color: var(--accent-color);
        color: white;
        border: none;
    }

    button.accent:hover {
        background-color: #1a86c0;
        font-weight: 600;
    }
}

/* DASHBOARD */
body.dashboard-page {
    background-color: var(--accent-color);
    background-image: linear-gradient(315deg, var(--accent-color) 0%, #80D0C7 100%);
    min-height: 100vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-weight: 400;

    article {
        width: 100%;
        min-height: 100px;
        border-radius: 0.6em;
        background-color: #fcfcfc;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    h1 {
        color: var(--accent-dark-color);
        font-family: 'Courgette', cursive;
        font-size: xx-large;
        margin: 0 auto;
    }
}

div.collapsible-component {
    header {
        background-color: #d9e2eb;
        color: #252525;
        cursor: pointer;
        padding: 1.25em;
        transition: 0.4s;
        display: flex;
        align-items: center;
        border-radius: 8px;
        z-index: 1;
    }

    header:hover {
        background-color: #c1d1e0;
    }

    .panel {
        position: relative;
        top: -8px;
        padding: 1em;
        overflow: hidden;
        border-radius: 0 0 8px 8px;
        background-color: #e9e7e7;
    }
}

div.file-selector {
    .pathcrumbs {
        padding: 0.25em;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        background-color: rgb(234, 237, 239);
    }

    div.dirnav {
        display: flex;
        gap: 1em;
        padding: 0.5em;
    }

    ul.dirnav {
        display: flex;
        gap: 0.5em;
        flex-wrap: wrap;
        list-style: none;
        padding: 2em;
    }

    ul.dirnav li {
        flex-grow: 1;
        flex-shrink: 0;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        margin: 0;
        background-color: rgb(234, 237, 239);
        max-width: 20em;
    }

    ul.dirnav li :hover {
        background-color: rgb(211, 221, 227);
    }

    ul.dirnav li>div {
        padding: 1em;
        cursor: pointer;
    }

    ul.dirnav li>div.selected {
        background-color: rgba(0, 136, 255, 0.257);
    }
}